<%- include('../partials/header') %>

    <ul>
      <% todos.forEach(function(t) { %>
        <li>
            <a href="/todos/<%= t.id %>"><%= t.todo %></a>
      <% }); %>
    </ul>
</body>
</html>

<%- include('../partials/footer') %>